body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

h1 {
    display: inline-block;
    border:2px solid grey;
    border-radius: 2px;
    padding: 1px;
    font-size: 6vw;
}

h2 {
    display: inline-block;
    font-size: 4vw;
}

h3 {
    display: inline-block;
    font-size: 3vw;
}

button {
    font-size: 4vw;
}

input[type="checkbox"] {
    width: 4vw;
    height: 4vw;
    transition: transform 0.2s ease-in-out;
}

.completed {
    text-decoration: line-through;
}

input[type="checkbox"]:checked {
    transform: scale(1.2);
}

ul {
    list-style-type: none;
}

#todo input {
    font-size: 4vw;
}